{% extends 'layout.html' %}
{% block content %}
    <form method="POST" action="" class="form">
        {% csrf_token %}
        <fieldset>
            <legend>Sign up</legend>
            {% include "text_messenger/form_snippet.html" %}
            <div class="form_item">
                <button type="submit" class="submit"> Sign up </button>
            </div>
        </fieldset>
    </form>
    <div class="hint">
        <span>Already have an account?</span>
        <a href="{% url 'login' %}"> Sign in </a>
    </div>
{% endblock content%}

