{% extends 'layout.html' %}
{% block content %}
    <h1> About page!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam assumenda commodi corporis debitis ducimus eius est et ipsa, minima modi nam nostrum odit quaerat, repudiandae tenetur ullam vitae voluptates. Ab assumenda consequuntur cum cumque cupiditate dignissimos dolore doloremque earum eius inventore magnam magni maxime nostrum nulla, perspiciatis quas rerum temporibus. Culpa deleniti distinctio eligendi laudantium neque quo rem sed.
    Aut beatae blanditiis deleniti facilis hic magnam molestiae optio pariatur praesentium, sapiente veritatis, voluptatem. A, atque autem earum, iure laudantium nulla perspiciatis reiciendis repellat reprehenderit vel veniam voluptatem voluptates voluptatum!
    Consectetur dolorum eligendi laborum magnam molestiae nemo nesciunt nihil perspiciatis tenetur voluptate? Consectetur eius explicabo iure libero magnam nisi omnis quas sunt ut voluptate! Beatae illum laudantium maxime optio vero.
    Accusantium blanditiis cum, deserunt error eum explicabo facilis harum illo magni minima mollitia, natus nesciunt perferendis possimus quibusdam, reiciendis sit? A accusamus ducimus explicabo fuga, id ipsam maiores provident! Accusamus?
    </p>
{% endblock content %}